#main-pic {
  max-width: 1630px;
  height: 630px;
  margin: 140px auto 0 auto;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../images/header-overlay.jpg");
    background-position: center;
    mix-blend-mode: overlay;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
    z-index: 1;
  }
}

#slogan {
  max-width: 898px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 70px;

  h1 {
    margin: 60px 0 30px 0;
  }
}

#property-slider {
  #property-carousel {
    max-width: 1570px;
    min-height: 637px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0 15px 15px 0;
    padding: 40px 0 40px 65px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 300;

    small {
      font-size: 14px;
    }

    .north {
      width: 48px;
      height: 80px;
      background-image: url("../images/SVG/polnoc.svg");
      background-position: center center;
      background-repeat: no-repeat;
      display: block;
      position: relative;
    }

    @include media-breakpoint-down(md) {
      padding: 40px 0;
    }
  }

  .text-right {
    margin-top: 60px;
  }

  .property-prev,
  .property-next {
    font-size: 20px;
    letter-spacing: 2px;
    display: inline-block;
  }
}

#contact-top {
  background-color: $grey-bg;
  margin: 220px 0 0 0;
  padding-bottom: 100px;

  img {
    margin-top: -120px;
  }

  .wrapper {
    max-width: 530px;
    padding-left: 25px;
    margin: 0 auto;
    margin-top: 120px;
    font-weight: 300;

    @include media-breakpoint-down(md) {
      padding: 20px;
      margin-top: 60px;
    }
  }
}

#boxes {
  padding: 130px 0 380px 0;

  @include media-breakpoint-down(md) {
    padding: 130px 0;
  }

  .row {
    &:nth-child(1) {
      margin-bottom: 120px;

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }
  }

  h3 {
    margin-top: 40px;

    @include media-breakpoint-down(md) {
      margin: 40px 0;
    }
  }
}

#blog {
  padding: 180px 0 75px 0;
  background-color: $grey-bg;

  .blog-featured {
    position: relative;
    line-height: 32px;

    h3 {
      line-height: 32px;
      font-weight: 600;
      letter-spacing: 0;
      margin-top: 60px;
    }

    .featured-overlay {
      z-index: 1;
      opacity: 0.5;
      position: absolute;
      top: 0;
    }

    .featured-text {
      max-width: 530px;

      @include media-breakpoint-down(md) {
        margin-bottom: 60px;
      }
    }

    .sep {
      margin: 25px 0;
    }
  }

  .col-md {
    &:nth-child(2) {
      margin-top: -440px;
      display: flex;
      justify-content: flex-end;

      .featured-overlay {
        opacity: 0.35;
      }

      @include media-breakpoint-down(md) {
        justify-content: flex-start !important;
        margin-top: 0;
      }
    }
  }
}

#about {
  padding: 105px 0 110px 0;

  h2 {
    margin: 40px 0 30px 0;
  }

  p {
    letter-spacing: 2px;
    padding-bottom: 130px;
  }

  .digits {
    font-size: 150px;
    letter-spacing: 2px;
    line-height: 150px;
    font-weight: 800;
  }

  .digits-desc {
    max-width: 300px;
    margin: 0 auto;
    font-weight: 300;

    @include media-breakpoint-down(md) {
      margin-bottom: 50px;
    }
  }
}

#contact-bottom {
  background: #1e1f21;
  padding: 100px 0;
  color: #fff;

  .container {
    max-width: 940px;
  }

  hr {
    border-top: 2px solid #fff;
  }

  h2 {
    margin: 40px 0 30px 0;
  }

  p {
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 17px;
  }

  .form-group input[type=date],
  .form-group input[type=datetime-local],
  .form-group input[type=email],
  .form-group input[type=number],
  .form-group input[type=password],
  .form-group input[type=search-md],
  .form-group input[type=search],
  .form-group input[type=tel],
  .form-group input[type=text],
  .form-group input[type=time],
  .form-group input[type=url] {
    border-bottom: 1px solid #fff;
    color: #fff;
  }

  ::placeholder {
    color: #fff;
  }

  .form-control {
    padding: 0.375rem 2rem;
  }

  .form-group {
    margin-bottom: 1.5rem;

    &:nth-child(n+3) {
      margin-left: 30px;
      max-width: 810px;
    }
  }

  .btn {
    margin-left: 30px;
    margin-top: 30px;
  }

  .custom-control {
    &.material-checkbox {
      color: #fff;
      font-size: 12px;
      line-height: 12px;

      .material-control-indicator {
        border: 1px solid #fff;
      }

      .material-control-input {
        display: none;

        &:checked ~ .material-control-indicator {
          border-color: var(--color);
          transform: rotateZ(45deg) translate(1px, -5px);
          width: 10px;
          border-top: 0 solid #fff;
          border-left: 0 solid #fff;
        }
      }
    }
  }
}
